@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* utility classes */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

a:hover {
    color: #ea1538;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    padding: 1rem;
    border: 2px solid #0009;
    box-shadow: 5px 5px 5px #0009;
    font-size: 1.5rem;
    background-color: #fff;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/* header page coding */

#header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-items {
    display: flex;
    justify-content: center;
}

.nav-item {
    font-size: 1.5rem;
    padding: 2rem 5rem;
}

#decoration {
    display: flex;
    height: 90%;
}

.message {
    width: 40%;
    position: absolute;
    animation: message 2s ease-out ;
}
@keyframes message {
    from{
        top: -100%;
    }
    to{
        top: 9%;
    }
}

.message h1 {
    color: #fff;
    font-size: 16rem;
    text-transform: uppercase;
    opacity: 0.1;
}



.heading {
    text-align: center;
    text-transform: uppercase;
    align-self: flex-end;
    width: 60%;
    position: absolute;
    animation: heading 2s ease-out forwards;
}

@keyframes heading {
    from{
        right: -70%;
    }
    to{
        right: 0%;
    }
}

.name {
    color: #fff;
    opacity: 0.1;
    padding-bottom: 0.5rem;
}

.firstname {
    font-size: 5rem;
}

.lastname {
    font-size: 14rem;
}

/* biography page coding */

#biography {
    background-color: #aaa;
    padding-top: 2rem;
}

.bio-img img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    padding-bottom: 2rem;
}

.bio-content {
    width: 70%;
    height: 70%;
}


.bio {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.heading2 {
    padding: 1rem 0rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.bio-content p {
    font-size: 2rem;
    text-align: justify;
}

/* filmography page coding */

#filmography {
    background-color: #c2c2a3;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#filmography .container h3 {
    text-align: center;
}

.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
    padding: 1rem;
    border-radius: 2rem;
}

.movie:hover {
    background-color: #c2c2b5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.movies img {
    width: 10rem;
    height: 13rem;
    border-radius: 100%;
}

#filmography h3 {

    padding: 2rem 0rem;
}

/* Awards page coding */

#awards {
    background-color: #aaa;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.prizes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.award {
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
    padding: 1rem;
    border-radius: 2rem
}

.award:hover {
    background-color: #737373;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.prizes img {
    width: 10rem;
    height: 13rem;
    border-radius: 100%;
}

/* death page coding */

#death {
    background-color: #c2c2a3;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.deathpage-img img {
    width: 280px;
    height: 412px;
    object-fit: cover;
    padding-bottom: 2rem;
}

.deathpage-content {
    width: 70%;
    height: 70%;
}


.die {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.heading2 {
    padding: 1rem 0rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.deathpage-content p {
    font-size: 2rem;
    text-align: justify;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 7rem;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}